/* Progress Bar */
.progress-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
    gap: 30px;
    border: 2px solid gray;
    border-radius: 4px;
    padding: 20px 50px 50px 50px;
}

.progress-bar-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.progress-bar-header > h1 {
    margin: 0;
    margin-bottom: 20px;
}
.progress-bar-header > input {
    padding: 5px;
    font-size: 15px;
}

.progress-bar-wrapper {
    width: 500px;
    border: 1px solid gray;
    border-radius: 4px;
}
.progress-bar {
    height: 10px;
    background-color: aqua;
    /* box-sizing: border-box; */
    width: 0;
}
